<div class="p-3">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
            <mat-card [style.max-width.px]="500">
                <div fxLayout="column" fxLayoutAlign="center center" class="text-center"> 
                    <h2 class="text-muted text-center fw-600 mb-3">{{ 'profile.changePassword' | translate }}</h2>
                </div>
                <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePasswordFormSubmit()">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'profile.currentPassword' | translate}}</mat-label>
                        <input matInput placeholder="{{ 'profile.currentPassword' | translate}}"
                            formControlName="oldPassword" type="password" minlength="6" required autocomplete="off">
                        <mat-error *ngIf="updatePasswordForm.controls.oldPassword.errors?.required">
                            {{'requiredCurrentPasswordMessage' | translate}}</mat-error>
                        <mat-error *ngIf="updatePasswordForm.controls.oldPassword.hasError('minlength')">
                            {{'invalidCurrentPasswordLength' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'profile.newPassword' | translate}}</mat-label>
                        <input matInput placeholder="{{ 'profile.newPassword' | translate}}" formControlName="newPassword"
                            type="password" minlength="6" required autocomplete="off">
                        <mat-error *ngIf="updatePasswordForm.controls.newPassword.errors?.required">
                            {{'requiredNewPasswordMessage' | translate}}</mat-error>
                        <mat-error *ngIf="updatePasswordForm.controls.newPassword.hasError('minlength')">
                            {{'invalidNewPasswordLength' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'profile.confirmNewPassword' |translate}}</mat-label>
                        <input matInput placeholder="{{ 'profile.confirmNewPassword' |translate}}"
                            formControlName="confirmNewPassword" type="password" required autocomplete="off">
                        <mat-error *ngIf="updatePasswordForm.controls.confirmNewPassword.errors?.required">
                            {{'requiredConfirmNewPasswordMessage' | translate}}</mat-error>
                        <mat-error *ngIf="updatePasswordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">
                            {{'invalidPasswords' | translate}}</mat-error>
                    </mat-form-field>
                    <div class="text-center mt-2">
                        <button mat-raised-button color="primary"
                            type="submit">{{ 'profile.changePassword' | translate }}</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>